
.header {
    position: relative; 
    background-color: #8aacc8;
    height: auto;
    width: 100%;
}


#titleDiv {
    padding: 5px;
    position: relative;
    font-size: 3em;
    text-align: center;
}

.nav {
    height: 70px;
}

#navItemBook {
    text-align: right;
}

#navItemGenre {
    text-align: left;
}

a:link {
    color:rgb(158, 158, 158);
}

a:visited {
    color:rgb(158, 158, 158);
}

a:hover {
    color:rgb(158, 158, 158);
}

a:active {
    color:rgb(158, 158, 158);
}

.material-icons.md-36 { 
    font-size: 36px; 
}

.novelCard {
    height: 340px;
    width: 230px;
    float: left;
    padding: 10px;
    margin: 20px;
}

.imageDiv {
    border: none;
    display: block;
    margin: 0 auto;
}

.bookRepeater {
    align-items: center;
    justify-content: center;
}
