
.header {
    position: relative; 
    height: auto;
    width: 100%;
}


#titleDiv {
    padding: 5px;
    position: relative;
    font-size: 3em;
    text-align: center;
}

.nav {
    height: 70px;
}

#navItemBook {
    text-align: right;
}

#navItemGenre {
    text-align: left;
}

a:link {
    color:rgb(158, 158, 158);
}

a:visited {
    color:rgb(158, 158, 158);
}

a:hover {
    color:rgb(158, 158, 158);
}

a:active {
    color:rgb(158, 158, 158);
}

.material-icons.md-36 { 
    font-size: 36px; 
}

.material-icons.md-20 { 
    font-size: 20px; 
}

.novelCard {
    height: 340px;
    width: 230px;
    float: left;
    padding: 10px;
    background-color: #90a4ae;
    margin: 20px;
}

.novelCardFavorite {
    height: 340px;
    width: 230px;
    float: left;
    padding: 10px;
    background-color: #ce6161;
    margin: 20px;
}

.novelCardSmall {
    height: 180px;
    width: 120px;
    float: left;
    padding: 10px;
    background-color: #90a4ae;
    margin: 20px;
}

.novelCardSmallFavorite {
    height: 180px;
    width: 120px;
    float: left;
    padding: 10px;
    margin: 20px;
    background-color: #ce6161;
}

.imageDiv {
    border: none;
    display: block;
    margin: 0 auto;
}

.bookRepeater {
    align-items: center;
    justify-content: center;
}

.searchField {
    position: absolute;
    right: 10px;
}



